/** 
 * Plugin Name: Time Tracker for WooCommerce
 * Description: Main Stylesheet for the Plugin.
 * Version: 0.1
 * Author: DansArt
 * Author URI: http://dans-art.ch
 * License: GPLv2 or later
 * @todo: Minify the CSS
 */

#wc_time_tracker select,
#wc_time_tracker .button{
    width: 100%;
    margin-bottom: 1rem;
}

#wc_time_tracker .error{
    color:red;
}
#wc_time_tracker .success{
    color:green;
}

#tt_timetracker{
    border: solid 1px black;
}

#tt_timetracker div{
    margin: 0.25rem 0.5rem;
}